body,
p,
div ,header{
  margin: 0;
  padding: 0;
}
.navbar {
  display: inline-block;
  vertical-align: top;
  /* margin-right: -10px; */
  background: #4e73df;
  width: 15%;
  height: 100vh;
  color: white;
}
.navbar .logo {
  height: 50px;
  margin-top: 18px;
  text-align: center;
  color: white;
}
.navbar .logo p {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 700;
  margin-left: 7px;
}
.navbar .logo .icon {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  border: solid 4px;
  border-radius: 30px;
}
.navbar hr {
  border: solid 0.1px rgba(255, 255, 255, 0.103);
  margin: 0 9%;
}
.navbar .page {
  text-align: left;
}
.navbar .page p {
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
}
.navbar .page .icon {
  display: inline-block;
  vertical-align: top;
  height: 15px;
  width: 15px;
  border: solid 2px;
  border-radius: 30px;
}
.navbar > p{
    color: rgba(255, 255, 255, 0.679);
    margin: 0 15px;
    margin-top: 15px;
    font-size: 11px;
    font-weight: 700;
  }
.contents {
  display: inline-block;
  vertical-align: top;
  width: 88%;
  height: 100vh;
  background-color: #f8f9fc;
}
li{
  display: list-item;
}
li .icon{
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  border: solid 4px;
  border-radius: 30px;
}